<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
        <a href='/logout'>log in</a>

        
        


<h1 class="text-center">Register to start writing!</h1>
<p>{{problem}}</p>
<form action="/register" method="post" class="form-signin text-center">

        <table style="width: 50%; margin: 0 auto !important">
                <tr>
                    <td><label for="email" class="sr-only">Username</label></td>                        <td>
                            <input name="email" class="form-control" type="text" value="{{ email }}" placeholder="Email address">
                    </td>
                </tr>
                <tr>
                    <td><label for="password" class="sr-only">Password</label></td>
                    <td>
                        <input name="password" class="form-control" type="password" placeholder="Password">                        </td>
                    </tr>
                <tr>
                        <td><label for="verify" class="sr-only">Verify Password</label></td>
                        <td>
                            <input name="verify" class="form-control" type="password" placeholder="Verify Password">
                        </td>
                        </tr>
            </table>
            <input type="image" src="submit.gif" alt="Submit" width="48" height="48">

</form>
<body></body>